.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

}

h1{
  color: #fff;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #1f4e64;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #181c24;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
  }

  & button:hover {
    filter: brightness(0.7);
    transform: scale(1.07);
  }

  & input{
    border: 1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #d8d5d5;
    color: #000000;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
    
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button p:hover {
    color: red;
  }

}

.link-login {
  text-align: center;
  color: #d8d8d8;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-top: -10px; /* Para ficar mais próximo do botão se o gap do form for grande */
  transition: 0.3s;
}

.link-login:hover {
  color: #829e1e;
  text-decoration: underline;
}

